doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
	head
		//if gte mso 9
			xml
				o:officedocumentsettings
					o:allowpng
						o:pixelsperinch 96
		meta(http-equiv='Content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='format-detection', content='date=no')
		meta(name='format-detection', content='address=no')
		meta(name='format-detection', content='telephone=no')
		meta(name='x-apple-disable-message-reformatting')
		// [if !mso] <!
		link(href='https://fonts.googleapis.com/css?family=Kreon:400,700|Playfair+Display:400,400i,700,700i|Raleway:400,400i,700,700i|Roboto:400,400i,700,700i', rel='stylesheet')
		// <![endif]
		title Tebrikler - CodeMastersPub için davet aldın!
		//if gte mso 9
			style(type='text/css', media='all').
				sup { font-size: 100% !important; }
		style(type='text/css', media='screen').
			/* Linked Styles */
			body {
				padding: 0 !important;
				margin: 0 !important;
				display: block !important;
				min-width: 100% !important;
				width: 100% !important;
				background: #1E1E1E;
				-webkit-text-size-adjust: none
			}

			a {
				color: #000001;
				text-decoration: none
			}

			p {
				padding: 0 !important;
				margin: 0 !important
			}

			img {
				-ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */
			}

			.mcnPreviewText {
				display: none !important;
			}

			.text-footer2 a {
				color: #ffffff;
			}

			/* Mobile styles */
			@media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
				.mobile-shell {
					width: 100% !important;
					min-width: 100% !important;
				}

				.m-center {
					text-align: center !important;
				}

				.m-left {
					text-align: left !important;
					margin-right: auto !important;
				}

				.center {
					margin: 0 auto !important;
				}

				.content2 {
					padding: 8px 15px 12px !important;
				}

				.t-left {
					float: left !important;
					margin-right: 30px !important;
				}

				.t-left-2 {
					float: left !important;
				}

				.td {
					width: 100% !important;
					min-width: 100% !important;
				}

				.content {
					padding: 30px 15px !important;
				}

				.section {
					padding: 30px 15px 0px !important;
				}

				.m-br-15 {
					height: 15px !important;
				}

				.mpb5 {
					padding-bottom: 5px !important;
				}

				.mpb15 {
					padding-bottom: 15px !important;
				}

				.mpb20 {
					padding-bottom: 20px !important;
				}

				.mpb30 {
					padding-bottom: 30px !important;
				}

				.m-padder {
					padding: 0px 15px !important;
				}

				.m-padder2 {
					padding-left: 15px !important;
					padding-right: 15px !important;
				}

				.p70 {
					padding: 30px 0px !important;
				}

				.pt70 {
					padding-top: 30px !important;
				}

				.p0-15 {
					padding: 0px 15px !important;
				}

				.p30-15 {
					padding: 30px 15px !important;
				}

				.p30-15-0 {
					padding: 30px 15px 0px 15px !important;
				}

				.p0-15-30 {
					padding: 0px 15px 30px 15px !important;
				}

				.text-footer {
					text-align: center !important;
				}

				.m-td,
				.m-hide {
					display: none !important;
					width: 0 !important;
					height: 0 !important;
					font-size: 0 !important;
					line-height: 0 !important;
					min-height: 0 !important;
				}

				.m-block {
					display: block !important;
				}

				.fluid-img img {
					width: 100% !important;
					max-width: 100% !important;
					height: auto !important;
				}

				.column,
				.column-dir,
				.column-top,
				.column-empty,
				.column-top-30,
				.column-top-60,
				.column-empty2,
				.column-bottom {
					float: left !important;
					width: 100% !important;
					display: block !important;
				}

				.column-empty{ 
					padding-bottom: 15px !important;
				}

				.column-empty2 {
					padding-bottom: 30px !important;
				}

				.content-spacing {
					width: 15px !important;
				}
			}
	body.body(style='padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#1E1E1E; -webkit-text-size-adjust:none;')
		table(width='100%', border='0', cellspacing='0', cellpadding='0', bgcolor='#1E1E1E')
			tbody
				tr
					td(align='center', valign='top')
						// Main
						table.mobile-shell(width='650', border='0', cellspacing='0', cellpadding='0')
							tbody
								tr
									td.td(style='width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;')
										// Header
										table(width='100%', border='0', cellspacing='0', cellpadding='0')
											tbody
												tr
													td.p30-15(style='padding: 40px 0px 20px 0px;')
														table(width='100%', border='0', cellspacing='0', cellpadding='0')
															tbody
																tr
																	th.column-top(width='200', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																		table(width='100%', border='0', cellspacing='0', cellpadding='0')
																			tbody
																				tr
																					td.text-top.m-center.mpb5(style="color:#9babdb; font-family:'Times New Roman', Georgia, serif; font-size:11px; line-height:22px; text-align:left; text-transform:uppercase;")
																						multiline
																	th.column-top(style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																		table(width='100%', border='0', cellspacing='0', cellpadding='0')
																			tbody
																				tr
																					td(align='right')
																						table.center(border='0', cellspacing='0', cellpadding='0', style='text-align:center;')
																							tbody
																								//tr
																									td.img(width='32', style='font-size:0pt; line-height:0pt; text-align:left;')
																										a(href='#', target='_blank')
																											img(src='/mail/images/free_ico_facebook.jpg', width='14', height='13', border='0', alt='')
																									td.img(width='32', style='font-size:0pt; line-height:0pt; text-align:left;')
																										a(href='#', target='_blank')
																											img(src='/mail/images/free_ico_twitter.jpg', width='14', height='13', border='0', alt='')
																									td.img(width='32', style='font-size:0pt; line-height:0pt; text-align:left;')
																										a(href='#', target='_blank')
																											img(src='/mail/images/free_ico_gplus.jpg', width='14', height='13', border='0', alt='')
																									td.img(width='32', style='font-size:0pt; line-height:0pt; text-align:left;')
																										a(href='#', target='_blank')
																											img(src='/mail/images/free_ico_pinterest.jpg', width='14', height='13', border='0', alt='')
																									td.img(width='14', style='font-size:0pt; line-height:0pt; text-align:left;')
																										a(href='#', target='_blank')
																											img(src='/mail/images/free_ico_instagram.jpg', width='14', height='13', border='0', alt='')
												// END Top bar
												// Logo
												//tr
													td.p30-15.img-center(bgcolor='#ffffff', style='padding: 30px; border-radius: 20px 20px 0px 0px; font-size:0pt; line-height:0pt; text-align:center;')
														a(href='#', target='_blank')
															//img(src='/mail/images/free_logo.jpg', width='146', height='17', border='0', alt='')
												// END Logo
												// Nav
												tr
													//td.text-nav-white(bgcolor='#e85711', style="color:#ffffff; font-family:'Roboto', Arial, sans-serif; font-size:12px; line-height:22px; text-align:center; text-transform:uppercase; padding:12px 0px;")
														a.link-white(href='#', target='_blank', style='color:#ffffff; text-decoration:none;')
															span.link-white(style='color:#ffffff; text-decoration:none;') products
														span.m-hide     
														a.link-white(href='#', target='_blank', style='color:#ffffff; text-decoration:none;')
															span.link-white(style='color:#ffffff; text-decoration:none;') inspirations
														span.m-hide     
														a.link-white(href='#', target='_blank', style='color:#ffffff; text-decoration:none;')
															span.link-white(style='color:#ffffff; text-decoration:none;') new
														span.m-block
															span.m-hide          
														a.link-white(href='#', target='_blank', style='color:#ffffff; text-decoration:none;')
															span.link-white(style='color:#ffffff; text-decoration:none;') OFFERS
														span.m-hide     
														a.link-white(href='#', target='_blank', style='color:#ffffff; text-decoration:none;')
															span.link-white(style='color:#ffffff; text-decoration:none;') SERVICES
														span.m-block
															span.m-hide          
														a.link-white(href='#', target='_blank', style='color:#ffffff; text-decoration:none;')
															span.link-white(style='color:#ffffff; text-decoration:none;') catalog
														span.m-hide     
														a.link-white(href='#', target='_blank', style='color:#ffffff; text-decoration:none;')
															span.link-white(style='color:#ffffff; text-decoration:none;') contact us
												// END Nav
												// END Header
												// Section 1
												table(width='100%', border='0', cellspacing='0', cellpadding='0')
													tbody
														tr
															td.fluid-img(style='font-size:0pt; line-height:0pt; text-align:left;')
																img(src='http://codemasterspub.com/mail/images/darthvader.jpg', border='0', alt='')
														tr(style='border-radius:50px;')
															td.p30-15-0(style='padding: 50px 30px 90px; border-radius:50px;', bgcolor='#ffffff' )
																table(width='100%', border='0', cellspacing='0', cellpadding='0')
																	tbody
																		//tr
																			td.h5-center(style="color:#a1a1a1; font-family:'Raleway', Arial,sans-serif; font-size:16px; line-height:22px; text-align:center; padding-bottom:5px;")
																				coderhub| Ut enim minim Veniam Quis
																		tr
																			td.h2-center(style="color:#000000; font-family:'', Arial, '', serif; font-size:32px; line-height:36px; text-align:center; padding-bottom:20px;")
																				| #{senderUser.name} sana CodeMastersPub için davetiye yolladı.
																		tr
																			td.text-center(style="color:#5d5c5c; font-family:'', Arial,sans-serif; font-size:14px; line-height:22px; text-align:center; padding-bottom:22px;")
																				| CodeMastersPub dijital işler alanlarında çalışan profesyonellerin birbirleri ile kaliteli ve doğrulanabilir tecrübe, fikir ve bilgi paylaştığı sosyal platformdur.
																		tr
																			td.text-center(style="color:#5d5c5c; font-family:'', Arial,sans-serif; font-size:14px; line-height:22px; text-align:center; padding-bottom:22px;")
																				| CMPub trafik, futbol, siyaset, sosyal medya gibi günlük ve geçici konularda vakit öldürmeyi reddeden, bunun yerine öğretmek, öğrenmek ve üretmek isteyen vakitlerini bu eylemlere yatıran kişiler için kurulmjuş iletişim platformudur.
																		tr
																			td.text-center(style="color:#5d5c5c; font-family:'', Arial,sans-serif; font-size:14px; line-height:22px; text-align:center; padding-bottom:22px;")
																				| Bu davet kişiye özeldir ve başkasına aktarılamaz, yalnızca 7 gün için geçerlidir. Tüm kayıtlar yalnızca davetiye ile kabul edilmektedir.
																		tr
																			td(align='center')
																				table(border='0', cellspacing='0', cellpadding='0')
																					tbody
																						tr
																							td.text-button3(style="color:#000000; font-family:'', '', Arial, serif; font-size:14px; line-height:18px; text-align:center; border:1px solid #000000; padding:10px 30px; border-radius:20px;")
																								multiline
																									a.link(href='http://codemasterspub.com/register/join/#{inviteCode}', target='_blank', style='color:#000001; text-decoration:none;')
																										span.link(style='color:#000001; text-decoration:none;') Kabul Ederek Topluluğa Katıl

																		tr
																			td(align='center')
																				table(border='0', cellspacing='20', cellpadding='0')
																					tbody
																						tr
																							td.text-button3(style="color:#000000; font-family:'', '', Arial, serif; font-size:14px; line-height:18px; text-align:center; border:1px solid #000000; padding:10px 30px; border-radius:20px;")
																								multiline
																									a.link(href='http://codemasterspub.com', target='_blank', style='color:#000001; text-decoration:none;')
																										span.link(style='color:#000001; text-decoration:none;') Siteye Git

																		tr
																			td(align='center')
																				table(border='0', cellspacing='20', cellpadding='0')
																					tbody
																						tr
																							td.text-button3(style="color:#000000; font-family:'', '', Arial, serif; font-size:14px; line-height:18px; text-align:center; padding:10px 30px; border-radius:20px;")
																								multiline
																									a(href='http://codemasterspub.com', target='_blank', style='color:#000001; text-decoration:none;') codemasterspub.com
																



												// END Section 1
												// Section 2
												//table(width='100%', border='0', cellspacing='0', cellpadding='0')
													tbody
														tr
															td
																table(width='100%', border='0', cellspacing='0', cellpadding='0', bgcolor='#dde8fd')
																	tbody
																		tr
																			td.fluid-img(style='font-size:0pt; line-height:0pt; text-align:left;')
																				img(src='/mail/images/free_white_blue.jpg', width='650', height='162', border='0', alt='')
																		tr
																			td.p0-15(style='padding: 0px 30px;')
																				table(width='100%', border='0', cellspacing='0', cellpadding='0')
																					tbody
																						tr
																							td.h2-center(style="color:#000000; font-family:'Playfair Display', Times, 'Times New Roman', serif; font-size:32px; line-height:36px; text-align:center; padding-bottom:20px;")
																								multiline Upcoming Events
																						tr
																							td.pb40(style='padding-bottom:40px;')
																								table(width='100%', border='0', cellspacing='0', cellpadding='0')
																									tbody
																										tr
																											td.event-separator(style='padding-bottom:40px; border-bottom:1px solid #ffffff;')
																												table(width='100%', border='0', cellspacing='0', cellpadding='0')
																													tbody
																														tr
																															th.column-top(width='60', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																																table(width='100%', border='0', cellspacing='0', cellpadding='0')
																																	tbody
																																		tr
																																			td.date(style="color:#000000; font-family:'Raleway', Arial,sans-serif; font-size:12px; line-height:16px; text-align:left; padding-bottom:6px;")
																																				multiline Sept
																																		tr
																																			td.day(style="color:#1e52bd; font-family:'Raleway', Arial,sans-serif; font-size:40px; line-height:44px; text-align:left; font-weight:bold;")
																																				multiline 17
																															th.column-empty(width='10', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;')
																															th.column-top(style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																																table(width='100%', border='0', cellspacing='0', cellpadding='0')
																																	tbody
																																		tr
																																			td.h5-black.black(style="font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:18px; text-align:left; padding-bottom:15px; text-transform:uppercase; font-weight:bold; color:#000000;")
																																				multiline Headline
																																		tr
																																			td.text.black(style="font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left; color:#000000;")
																																				multiline
																																					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo dolore setr tempore alipsinung.
																															th.column-empty(width='10', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;')
																															th.column-top(width='156', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																																table(width='100%', border='0', cellspacing='0', cellpadding='0')
																																	tbody
																																		tr
																																			td(align='right')
																																				table.m-left(border='0', cellspacing='0', cellpadding='0')
																																					tbody
																																						tr
																																							td.text-button.button-blue(style="font-family:'Kreon', Georgia, serif; font-size:14px; line-height:18px; text-align:center; padding:10px 30px; border-radius:20px; background:transparent; color:#1e52bd; border:1px solid #1e52bd;")
																																								multiline
																																									a.link-blue(href='#', target='_blank', style='color:#1e52bd; text-decoration:none;')
																																										span.link-blue(style='color:#1e52bd; text-decoration:none;') View More
																						tr
																							td.pb40(style='padding-bottom:40px;')
																								table(width='100%', border='0', cellspacing='0', cellpadding='0')
																									tbody
																										tr
																											th.column-top(width='60', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																												table(width='100%', border='0', cellspacing='0', cellpadding='0')
																													tbody
																														tr
																															td.date(style="color:#000000; font-family:'Raleway', Arial,sans-serif; font-size:12px; line-height:16px; text-align:left; padding-bottom:6px;")
																																multiline Sept
																														tr
																															td.day(style="color:#1e52bd; font-family:'Raleway', Arial,sans-serif; font-size:40px; line-height:44px; text-align:left; font-weight:bold;")
																																multiline 17
																											th.column-empty(width='10', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;')
																											th.column-top(style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																												table(width='100%', border='0', cellspacing='0', cellpadding='0')
																													tbody
																														tr
																															td.h5-black.black(style="font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:18px; text-align:left; padding-bottom:15px; text-transform:uppercase; font-weight:bold; color:#000000;")
																																multiline Headline
																														tr
																															td.text.black(style="font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left; color:#000000;")
																																multiline
																																	| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo dolore setr tempore alipsinung.
																											th.column-empty(width='10', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;')
																											th.column-top(width='156', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																												table(width='100%', border='0', cellspacing='0', cellpadding='0')
																													tbody
																														tr
																															td(align='right')
																																table.m-left(border='0', cellspacing='0', cellpadding='0')
																																	tbody
																																		tr
																																			td.text-button.button-blue(style="font-family:'Kreon', Georgia, serif; font-size:14px; line-height:18px; text-align:center; padding:10px 30px; border-radius:20px; background:transparent; color:#1e52bd; border:1px solid #1e52bd;")
																																				multiline
																																					a.link-blue(href='#', target='_blank', style='color:#1e52bd; text-decoration:none;')
																																						span.link-blue(style='color:#1e52bd; text-decoration:none;') View More
																						tr
																							td(align='center')
																								table(border='0', cellspacing='0', cellpadding='0')
																									tbody
																										tr
																											td.text-button.button-blue2(style="font-family:'Kreon', Georgia, serif; font-size:14px; line-height:18px; text-align:center; padding:10px 30px; border-radius:20px; background:#1e52bd; color:#ffffff;")
																												multiline
																													a.link-white(href='#', target='_blank', style='color:#ffffff; text-decoration:none;')
																														span.link-white(style='color:#ffffff; text-decoration:none;') View All Events
														tr
															td.fluid-img(style='font-size:0pt; line-height:0pt; text-align:left;')
																img(src='/mail/images/free_blue_white.jpg', width='650', height='160', border='0', alt='')
												// END Section 2
												// Section 3
												//table(width='100%', border='0', cellspacing='0', cellpadding='0', bgcolor='#ebebeb')
													tbody
														tr
															td.p0-15-30(style='padding: 0px 30px 70px 30px;', bgcolor='#ffffff')
																table(width='100%', border='0', cellspacing='0', cellpadding='0')
																	tbody
																		tr
																			td.h2-center.pb40(style="color:#000000; font-family:'Playfair Display', Times, 'Times New Roman', serif; font-size:32px; line-height:36px; text-align:center; padding-bottom:40px;")
																				multiline Upcoming Videos
																		tr
																			td.pb30(style='padding-bottom:30px;')
																				table(width='100%', border='0', cellspacing='0', cellpadding='0')
																					tbody
																						tr
																							td.separator2(style='padding-bottom:40px; border-bottom:1px solid #ebebeb;')
																								table(width='100%', border='0', cellspacing='0', cellpadding='0')
																									tbody
																										tr
																											th.column-top(width='280', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																												table(width='100%', border='0', cellspacing='0', cellpadding='0')
																													tbody
																														tr
																															td(valign='top')
																																table(width='100%', border='0', cellspacing='0', cellpadding='0')
																																	tbody
																																		tr
																																			td.h5-black.black(style="font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:18px; text-align:left; padding-bottom:15px; text-transform:uppercase; font-weight:bold; color:#000000;")
																																				multiline Headline
																																		tr
																																			td.text.grey.pb10(style="font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left; color:#a1a1a1; padding-bottom:10px;")
																																				multiline Sept 15, 10:00 pm
																																		tr
																																			td.text(style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left;")
																																				multiline Lorem ipsum dolor sit amet, dolore consectetur adipisicing elit sed do.
																															td.img(valign='top', width='15', style='font-size:0pt; line-height:0pt; text-align:left;')
																															td.img(valign='top', width='28', style='font-size:0pt; line-height:0pt; text-align:left;')
																																img(src='/mail/images/ico_arrow.jpg', width='28', height='28', border='0', alt='')
																											th.column-empty(width='30', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;')
																											th.column-top(width='280', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																												table(width='100%', border='0', cellspacing='0', cellpadding='0')
																													tbody
																														tr
																															td(valign='top')
																																table(width='100%', border='0', cellspacing='0', cellpadding='0')
																																	tbody
																																		tr
																																			td.h5-black.black(style="font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:18px; text-align:left; padding-bottom:15px; text-transform:uppercase; font-weight:bold; color:#000000;")
																																				multiline Headline
																																		tr
																																			td.text.grey.pb10(style="font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left; color:#a1a1a1; padding-bottom:10px;")
																																				multiline Sept 15, 10:00 pm
																																		tr
																																			td.text(style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left;")
																																				multiline Lorem ipsum dolor sit amet, dolore consectetur adipisicing elit sed do.
																															td.img(valign='top', width='15', style='font-size:0pt; line-height:0pt; text-align:left;')
																															td.img(valign='top', width='28', style='font-size:0pt; line-height:0pt; text-align:left;')
																																img(src='/mail/images/ico_arrow.jpg', width='28', height='28', border='0', alt='')
																		tr
																			td.pb30(style='padding-bottom:30px;')
																				table(width='100%', border='0', cellspacing='0', cellpadding='0')
																					tbody
																						tr
																							td
																								table(width='100%', border='0', cellspacing='0', cellpadding='0')
																									tbody
																										tr
																											th.column(width='80', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;')
																												table(width='100%', border='0', cellspacing='0', cellpadding='0')
																													tbody
																														tr
																															td.img(valign='top', width='80', style='font-size:0pt; line-height:0pt; text-align:left;')
																																img(src='/mail/images/image12.jpg', width='80', height='80', border='0', alt='')
																											th.column-empty(width='30', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;')
																											th.column(style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;')
																												table(width='100%', border='0', cellspacing='0', cellpadding='0')
																													tbody
																														tr
																															td
																																table(width='100%', border='0', cellspacing='0', cellpadding='0')
																																	tbody
																																		tr
																																			td.h5-black.black(style="font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:18px; text-align:left; padding-bottom:15px; text-transform:uppercase; font-weight:bold; color:#000000;")
																																				multiline Headline
																																		tr
																																			td.text.grey.pb10(style="font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left; color:#a1a1a1; padding-bottom:10px;")
																																				multiline Sept 15, 10:00 pm
																																		tr
																																			td.text(style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left;")
																																				multiline
																																					| Lorem ipsum dolor sit amet, dolore consectetur adipisicing elit sed do. Lorem ipsum dolor sit amet, dolore consectetur adipisicing elit sed do.
																															td.content-spacing(width='40', style='font-size:0pt; line-height:0pt; text-align:left;')
																															td.img(valign='top', width='28', style='font-size:0pt; line-height:0pt; text-align:left;')
																																img(src='/mail/images/ico_arrow.jpg', width='28', height='28', border='0', alt='')
																		tr
																			td(align='center')
																				table(border='0', cellspacing='0', cellpadding='0')
																					tbody
																						tr
																							td.text-button.button-blue(style="font-family:'Kreon', Georgia, serif; font-size:14px; line-height:18px; text-align:center; padding:10px 30px; border-radius:20px; background:transparent; color:#1e52bd; border:1px solid #1e52bd;")
																								multiline
																									a.link-blue(href='#', target='_blank', style='color:#1e52bd; text-decoration:none;')
																										span.link-blue(style='color:#1e52bd; text-decoration:none;') View All Videos
												// END Section 3
												// Section 4
												//table(width='100%', border='0', cellspacing='0', cellpadding='0', bgcolor='#ebebeb')
													tbody
														tr
															td.bg(background='/mail/images/video_image1.jpg', bgcolor='#535155', valign='top', height='280')
																//if gte mso 9
																	v:rect(xmlns:v='urn:schemas-microsoft-com:vml', fill='true', stroke='false', style='width:650px; height: 280px')
																		v:fill(type='frame', src='/mail/images/video_image1.jpg', color='#535155')
																			v:textbox(inset='0,0,0,0')
																div
																	table(width='100%', border='0', cellspacing='0', cellpadding='0')
																		tbody
																			tr
																				td.content-spacing(height='280', width='20', style='font-size:0pt; line-height:0pt; text-align:left;')
																				td(style='padding: 30px;')
																					table(width='100%', border='0', cellspacing='0', cellpadding='0')
																						tbody
																							tr
																								td.img-center.pb20(style='font-size:0pt; line-height:0pt; text-align:center; padding-bottom:20px;')
																									img(src='/mail/images/360_view.png', width='101', height='69', border='0', alt='')
																							tr
																								td(align='center')
																									table.center(border='0', cellspacing='0', cellpadding='0', style='text-align:center;')
																										tbody
																											tr
																												td.text-button-orange(style="background:#e85711; color:#ffffff; font-family:'Kreon', 'Times New Roman', Georgia, serif; font-size:14px; line-height:18px; text-align:center; padding:10px 30px; border-radius:20px;")
																													multiline
																														a.link-white(href='#', target='_blank', style='color:#ffffff; text-decoration:none;')
																															span.link-white(style='color:#ffffff; text-decoration:none;') Start Now
																				td.content-spacing(width='20', style='font-size:0pt; line-height:0pt; text-align:left;')
																//if gte mso 9
																// END Section 4
																// Section 5
												//table(width='100%', border='0', cellspacing='0', cellpadding='0', bgcolor='#ffffff')
													tbody
														tr
															td.p30-15-0(style='padding: 70px 30px 0px 30px;')
																table(width='100%', border='0', cellspacing='0', cellpadding='0')
																	tbody
																		tr
																			td.h5-center(style="color:#a1a1a1; font-family:'Raleway', Arial,sans-serif; font-size:16px; line-height:22px; text-align:center; padding-bottom:5px;")
																				multiline Ut enim minim Veniam Quis
																		tr
																			td.h2-center(style="color:#000000; font-family:'Playfair Display', Times, 'Times New Roman', serif; font-size:32px; line-height:36px; text-align:center; padding-bottom:20px;")
																				multiline Text With Title Example
																		tr
																			td(style='padding-bottom: 25px;')
																				table(width='100%', border='0', cellspacing='0', cellpadding='0')
																					tbody
																						tr
																							td.fluid-img(style='font-size:0pt; line-height:0pt; text-align:left;')
																								img(src='/mail/images/free_image1.jpg', width='290', height='260', border='0', alt='')
																							td.img(width='10', style='font-size:0pt; line-height:0pt; text-align:left;')
																							td.fluid-img(style='font-size:0pt; line-height:0pt; text-align:left;')
																								img(src='/mail/images/free_image2.jpg', width='290', height='260', border='0', alt='')
																		tr
																			td.text-center.pb20(style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:center; padding-bottom:20px;")
																				multiline
																					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
																					span.m-hide
																						br
																					| incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
																					span.m-hide
																						br
																					| exercitation ullamco laboris nisi ut aliquip ex ea commodo conse.
																		// Button
																		tr
																			td(align='center')
																				table(border='0', cellspacing='0', cellpadding='0')
																					tbody
																						tr
																							td.text-button3(style="color:#000000; font-family:'Kreon', 'Times New Roman', Georgia, serif; font-size:14px; line-height:18px; text-align:center; border:1px solid #000000; padding:10px 30px; border-radius:20px;")
																								multiline
																									a.link(href='#', target='_blank', style='color:#000001; text-decoration:none;')
																										span.link(style='color:#000001; text-decoration:none;') View More
												// END Button
												// END Section 5
												// Section 6
												//table(width='100%', border='0', cellspacing='0', cellpadding='0', bgcolor='#ffffff')
													tbody
														tr
															td.fluid-img(style='font-size:0pt; line-height:0pt; text-align:left;')
																img(src='/mail/images/free_white_blue.jpg', width='650', height='160', border='0', alt='')
														tr
															td.p0-15(style='padding: 0px 30px;', bgcolor='#dde8fd')
																table(width='100%', border='0', cellspacing='0', cellpadding='0')
																	tbody
																		tr
																			td
																				table(width='100%', border='0', cellspacing='0', cellpadding='0')
																					tbody
																						tr
																							th.column-top(width='280', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																								table(width='100%', border='0', cellspacing='0', cellpadding='0')
																									tbody
																										tr
																											td
																												table(width='100%', border='0', cellspacing='0', cellpadding='0')
																													tbody
																														tr
																															td(bgcolor='#ffffff', valign='top')
																																table.border(width='100%', border='0', cellspacing='0', cellpadding='0', bgcolor='#dde8fd', style='font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%;')
																																	tbody
																																		tr
																																			td.border(bgcolor='#dde8fd', height='40', style='font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%;')  
																															td.img-center(valign='top', width='80', style='font-size:0pt; line-height:0pt; text-align:center;')
																																img(src='/mail/images/free_person_image.jpg', width='80', height='80', border='0', alt='')
																															td(bgcolor='#ffffff', valign='top')
																																table.border(width='100%', border='0', cellspacing='0', cellpadding='0', bgcolor='#dde8fd', style='font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%;')
																																	tbody
																																		tr
																																			td.border(bgcolor='#dde8fd', height='40', style='font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%;')  
																												table(width='100%', border='0', cellspacing='0', cellpadding='0', bgcolor='#ffffff')
																													tbody
																														tr
																															td.content(style='padding:30px;')
																																table(width='100%', border='0', cellspacing='0', cellpadding='0')
																																	tbody
																																		tr
																																			td.img-center.pb20(style='font-size:0pt; line-height:0pt; text-align:center; padding-bottom:20px;')
																																				img(src='/mail/images/orange_quote.jpg', width='26', height='20', border='0', alt='')
																																		tr
																																			td.text-center(style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:center; padding-bottom:22px;")
																																				multiline
																																					em
																																						| Lorem ipsum dolor sit amet, dolore.Lorem ipsum dolor sit set do amet, dolore consectetur eta adipisicing elit sed do!
																																		tr
																																			td.text-2.center(style="color:#000000; font-family:'Playfair Display', Times, 'Times New Roman', serif; font-size:14px; line-height:22px; text-align:center;")
																																				multiline — Jessie Doe
																							th.column-empty2(width='30', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;')
																							th.column-top(width='280', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																								table(width='100%', border='0', cellspacing='0', cellpadding='0')
																									tbody
																										tr
																											td
																												table(width='100%', border='0', cellspacing='0', cellpadding='0')
																													tbody
																														tr
																															td(bgcolor='#ffffff', valign='top')
																																table.border(width='100%', border='0', cellspacing='0', cellpadding='0', bgcolor='#dde8fd', style='font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%;')
																																	tbody
																																		tr
																																			td.border(bgcolor='#dde8fd', height='40', style='font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%;')  
																															td.img-center(valign='top', width='80', style='font-size:0pt; line-height:0pt; text-align:center;')
																																img(src='/mail/images/free_person_image.jpg', width='80', height='80', border='0', alt='')
																															td(bgcolor='#ffffff', valign='top')
																																table.border(width='100%', border='0', cellspacing='0', cellpadding='0', bgcolor='#dde8fd', style='font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%;')
																																	tbody
																																		tr
																																			td.border(bgcolor='#dde8fd', height='40', style='font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%;')  
																												table(width='100%', border='0', cellspacing='0', cellpadding='0', bgcolor='#ffffff')
																													tbody
																														tr
																															td.content(style='padding:30px;')
																																table(width='100%', border='0', cellspacing='0', cellpadding='0')
																																	tbody
																																		tr
																																			td.img-center.pb20(style='font-size:0pt; line-height:0pt; text-align:center; padding-bottom:20px;')
																																				img(src='/mail/images/orange_quote.jpg', width='26', height='20', border='0', alt='')
																																		tr
																																			td.text-center(style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:center; padding-bottom:22px;")
																																				multiline
																																					em
																																						| Lorem ipsum dolor sit amet, dolore.Lorem ipsum dolor sit set do amet, dolore consectetur eta adipisicing elit sed do!
																																		tr
																																			td.text-2.center(style="color:#000000; font-family:'Playfair Display', Times, 'Times New Roman', serif; font-size:14px; line-height:22px; text-align:center;")
																																				multiline — Jessie Doe
														tr
															td.fluid-img(style='font-size:0pt; line-height:0pt; text-align:left;')
																img(src='/mail/images/free_blue_white.jpg', width='650', height='160', border='0', alt='')
												// END Section 6
												// Section 7
												//table(width='100%', border='0', cellspacing='0', cellpadding='0', bgcolor='#ffffff')
													tbody
														tr
															td.p30-15(bgcolor='#ffffff', style='padding: 0px 30px 50px 30px;')
																table(width='100%', border='0', cellspacing='0', cellpadding='0')
																	tbody
																		tr
																			td.h5.center(style='text-align:center;')
																				multiline Ut enim minim Veniam Quis
																		tr
																			td.h2-center.pb40(style="color:#000000; font-family:'Playfair Display', Times, 'Times New Roman', serif; font-size:32px; line-height:36px; text-align:center; padding-bottom:40px;")
																				multiline Text With Title Example
																		tr
																			td.pb40(style='padding-bottom:40px;')
																				table(width='100%', border='0', cellspacing='0', cellpadding='0')
																					tbody
																						tr
																							th.column-top(width='285', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																								table(width='100%', border='0', cellspacing='0', cellpadding='0')
																									tbody
																										tr
																											td.text-year(valign='top', width='52', style="color:#1e52bd; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left;")
																												multiline
																													strong 2006
																											td(valign='top')
																												table(width='100%', border='0', cellspacing='0', cellpadding='0')
																													tbody
																														tr
																															td.h5-black2.pb20(style="color:#000000; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:18px; text-align:left; text-transform:uppercase; padding-bottom:20px;")
																																multiline HEADLINE
																														tr
																															td.text(style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left;")
																																multiline
																																	| Lorem ipsum dolor sit amet, consectur sete adipisicing elit, sed do eiusmod tempor eter incididunt ut labore et.
																							th.column-empty2(width='20', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;')
																							th.column-top(width='285', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																								table(width='100%', border='0', cellspacing='0', cellpadding='0')
																									tbody
																										tr
																											td.text-year(valign='top', width='52', style="color:#1e52bd; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left;")
																												multiline
																													strong 2007
																											td(valign='top')
																												table(width='100%', border='0', cellspacing='0', cellpadding='0')
																													tbody
																														tr
																															td.h5-black2.pb20(style="color:#000000; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:18px; text-align:left; text-transform:uppercase; padding-bottom:20px;")
																																multiline HEADLINE
																														tr
																															td.text(style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left;")
																																multiline
																																	| Lorem ipsum dolor sit amet, consectur sete adipisicing elit, sed do eiusmod tempor eter incididunt ut labore et.
																		tr
																			td.pb40(style='padding-bottom:40px;')
																				table(width='100%', border='0', cellspacing='0', cellpadding='0')
																					tbody
																						tr
																							th.column-top(width='310', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																								table(width='100%', border='0', cellspacing='0', cellpadding='0')
																									tbody
																										tr
																											td.text-year(valign='top', width='52', style="color:#1e52bd; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left;")
																												multiline
																													strong 2010
																											td(valign='top')
																												table(width='100%', border='0', cellspacing='0', cellpadding='0')
																													tbody
																														tr
																															td.h5-black2.pb20(style="color:#000000; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:18px; text-align:left; text-transform:uppercase; padding-bottom:20px;")
																																multiline HEADLINE
																														tr
																															td.text(style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left;")
																																multiline
																																	| Lorem ipsum dolor sit amet, consectur sete adipisicing elit, sed do eiusmod tempor eter incididunt ut labore et.
																							th.column-empty2(width='10', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;')
																							th.column-top(width='310', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																								table(width='100%', border='0', cellspacing='0', cellpadding='0')
																									tbody
																										tr
																											td.text-year(valign='top', width='52', style="color:#1e52bd; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left;")
																												multiline
																													strong 2014
																											td(valign='top')
																												table(width='100%', border='0', cellspacing='0', cellpadding='0')
																													tbody
																														tr
																															td.h5-black2.pb20(style="color:#000000; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:18px; text-align:left; text-transform:uppercase; padding-bottom:20px;")
																																multiline HEADLINE
																														tr
																															td.text(style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left;")
																																multiline
																																	| Lorem ipsum dolor sit amet, consectur sete adipisicing elit, sed do eiusmod tempor eter incididunt ut labore et.
																		tr
																			td(align='center')
																				table(border='0', cellspacing='0', cellpadding='0')
																					tbody
																						tr
																							td.text-button3(style="color:#000000; font-family:'Kreon', 'Times New Roman', Georgia, serif; font-size:14px; line-height:18px; text-align:center; border:1px solid #000000; padding:10px 30px; border-radius:20px;")
																								multiline
																									a.link(href='#', target='_blank', style='color:#000001; text-decoration:none;')
																										span.link(style='color:#000001; text-decoration:none;') View More
												// END Section 7
												// Section 8
												//table(width='100%', border='0', cellspacing='0', cellpadding='0', bgcolor='#1546a9')
													tbody
														tr
															td.p30-15(style='padding: 70px 30px;', align='center')
																table.center(border='0', cellspacing='0', cellpadding='0', style='text-align:center;')
																	tbody
																		tr
																			th.column(style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;')
																				table.center(border='0', cellspacing='0', cellpadding='0', style='text-align:center;')
																					tbody
																						tr
																							td.img(style='font-size:0pt; line-height:0pt; text-align:left;')
																								img(src='/mail/images/free_logo1.jpg', width='91', height='27', border='0', alt='')
																							td.content-spacing(width='45', style='font-size:0pt; line-height:0pt; text-align:left;')
																							td.img(style='font-size:0pt; line-height:0pt; text-align:left;')
																								img(src='/mail/images/free_logo2.jpg', width='116', height='27', border='0', alt='')
																			th.column-empty(width='45', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;')
																			th.column(style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;')
																				table.center(border='0', cellspacing='0', cellpadding='0', style='text-align:center;')
																					tbody
																						tr
																							td.img(style='font-size:0pt; line-height:0pt; text-align:left;')
																								img(src='/mail/images/free_logo3.jpg', width='87', height='39', border='0', alt='')
																							td.content-spacing(width='45', style='font-size:0pt; line-height:0pt; text-align:left;')
																							td.img(style='font-size:0pt; line-height:0pt; text-align:left;')
																								img(src='/mail/images/free_logo4.jpg', width='100', height='39', border='0', alt='')
												// END Section 8
												// Footer
												//table(width='100%', border='0', cellspacing='0', cellpadding='0')
													tbody
														tr
															td.p30-15-0(bgcolor='#ffffff', style='border-radius: 0px 0px 20px 20px; padding: 70px 30px 0px 30px;')
																table(width='100%', border='0', cellspacing='0', cellpadding='0')
																	tbody
																		tr
																			td.m-padder2.pb30(align='center', style='padding-bottom:30px;')
																				table.center(border='0', cellspacing='0', cellpadding='0', style='text-align:center;')
																					tbody
																						tr
																							td.img(width='40', style='font-size:0pt; line-height:0pt; text-align:left;')
																								a(href='#', target='_blank')
																									img(src='/mail/images/ico4_facebook.png', width='26', height='26', border='0', alt='')
																							td.img(width='40', style='font-size:0pt; line-height:0pt; text-align:left;')
																								a(href='#', target='_blank')
																									img(src='/mail/images/ico4_twitter.png', width='26', height='26', border='0', alt='')
																							td.img(width='40', style='font-size:0pt; line-height:0pt; text-align:left;')
																								a(href='#', target='_blank')
																									img(src='/mail/images/ico4_gplus.png', width='26', height='26', border='0', alt='')
																							td.img(width='40', style='font-size:0pt; line-height:0pt; text-align:left;')
																								a(href='#', target='_blank')
																									img(src='/mail/images/ico4_youtube.png', width='26', height='26', border='0', alt='')
																							td.img(width='40', style='font-size:0pt; line-height:0pt; text-align:left;')
																								a(href='#', target='_blank')
																									img(src='/mail/images/ico4_instagram.png', width='26', height='26', border='0', alt='')
																							td.img(width='40', style='font-size:0pt; line-height:0pt; text-align:left;')
																								a(href='#', target='_blank')
																									img(src='/mail/images/ico4_pinterest.png', width='26', height='26', border='0', alt='')
																							td.img(width='40', style='font-size:0pt; line-height:0pt; text-align:left;')
																								a(href='#', target='_blank')
																									img(src='/mail/images/ico4_linkedin.png', width='26', height='26', border='0', alt='')
																							td.img(width='26', style='font-size:0pt; line-height:0pt; text-align:left;')
																								a(href='#', target='_blank')
																									img(src='/mail/images/ico4_rss.png', width='26', height='26', border='0', alt='')
																		tr
																			td.p30-15(align='center', style='border-top: 1px solid #ebebeb; padding: 30px;')
																				table.center(border='0', cellspacing='0', cellpadding='0', style='text-align:center;')
																					tbody
																						tr
																							th.column-top(width='180', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																								table(width='100%', border='0', cellspacing='0', cellpadding='0')
																									tbody
																										tr
																											td.text-footer(style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:13px; line-height:22px; text-align:left;")
																												multiline
																													strong Catalog & Brochures
																													br
																													a.link-grey(href='#', target='_blank', style='color:#5d5c5c; text-decoration:none;')
																														span.link-grey(style='color:#5d5c5c; text-decoration:none;') Request
																													br
																													a.link-grey(href='#', target='_blank', style='color:#5d5c5c; text-decoration:none;')
																														span.link-grey(style='color:#5d5c5c; text-decoration:none;') View Online
																													br
																													a.link-grey(href='#', target='_blank', style='color:#5d5c5c; text-decoration:none;')
																														span.link-grey(style='color:#5d5c5c; text-decoration:none;') Buying Guides
																							th.column-empty(width='20', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;')
																							th.column-top(width='180', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																								table(width='100%', border='0', cellspacing='0', cellpadding='0')
																									tbody
																										tr
																											td.text-footer(style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:13px; line-height:22px; text-align:left;")
																												multiline
																													strong Need Help
																													br
																													a.link-grey(href='#', target='_blank', style='color:#5d5c5c; text-decoration:none;')
																														span.link-grey(style='color:#5d5c5c; text-decoration:none;') FAQ
																													br
																													a.link-grey(href='#', target='_blank', style='color:#5d5c5c; text-decoration:none;')
																														span.link-grey(style='color:#5d5c5c; text-decoration:none;') Contact Us
																													br
																													a.link-grey(href='#', target='_blank', style='color:#5d5c5c; text-decoration:none;')
																														span.link-grey(style='color:#5d5c5c; text-decoration:none;') Return Policy
																													br
																													a.link-grey(href='#', target='_blank', style='color:#5d5c5c; text-decoration:none;')
																														span.link-grey(style='color:#5d5c5c; text-decoration:none;') Children's Product Registration
																							th.column-empty(width='20', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;')
																							th.column-top(width='180', style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
																								table(width='100%', border='0', cellspacing='0', cellpadding='0')
																									tbody
																										tr
																											td.text-footer(style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:13px; line-height:22px; text-align:left;")
																												multiline
																													strong Delivery Information
																													br
																													a.link-grey(href='#', target='_blank', style='color:#5d5c5c; text-decoration:none;')
																														span.link-grey(style='color:#5d5c5c; text-decoration:none;') Store Delivery
																													br
																													a.link-grey(href='#', target='_blank', style='color:#5d5c5c; text-decoration:none;')
																														span.link-grey(style='color:#5d5c5c; text-decoration:none;') Online Delivery
																													br
																													a.link-grey(href='#', target='_blank', style='color:#5d5c5c; text-decoration:none;')
																														span.link-grey(style='color:#5d5c5c; text-decoration:none;') Picking with Delivery
																													br
																													a.link-grey(href='#', target='_blank', style='color:#5d5c5c; text-decoration:none;')
																														span.link-grey(style='color:#5d5c5c; text-decoration:none;') Track an Order
												table(width='100%', border='0', cellspacing='0', cellpadding='50')
													tbody
														tr
															td
												//table(width='100%', border='0', cellspacing='0', cellpadding='0')
													tbody
														tr
															td.text-footer2.p30-15(style="padding: 30px 15px 50px 15px; color:#a9b6e0; font-family:'Raleway', Arial,sans-serif; font-size:12px; line-height:22px; text-align:center;")
																multiline
																	| Bu e posta sistem tarafından size gönderilmiştir. İsterseniz tekrar e posta gönderilmesini engelleyebilirsiniz.
																	br
																	a.link-white(href='/mail/xx112233', target='_blank', style='color:#ffffff; text-decoration:none;')
																		span.link-white(style='color:#ffffff; text-decoration:none;') Buraya tıklayarak e posta seçeneğini tamamnen kapatabilirsiniz.

												// END Footer
												// END Main
